page-paymentlist {
.holiday-day {
    top: 31px !important;
}
.holiday-title{
    margin-right: 10px !important;
    margin-bottom: 0px !important;
}
.leave-type{
    display: inline-block;
}
.others-text {
    font-size: 12px;
    color: #777 !important;
    padding-bottom: 20px;
    margin: 0px !important; 
}
}