<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
    <ion-icon name="menu" class="menuIcon"></ion-icon>
  </button>
        <ion-title [ngStyle]="getHeaderStyle()">
            <h4 class="header-title">Employee</h4>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
    <ion-item>
        <input type="hidden" ui-select2="select2Options" ng-model="listData.list_of_string">
    </ion-item>


    <div *ngIf="basicInformation">
        <h4 class="editprofile-title">Basic Informations</h4>
        <div class="inputList">
            <ion-list class="inputLabel">
                <ion-item class="inputItem">
                    <ion-label class="addInput-Label" floating>Full Name</ion-label>

                    <ion-input class="addInput" [(ngModel)]="f.employee" [ngModelOptions]="{standalone:true}" type="text" clearInput></ion-input>
                </ion-item>

                <ion-item class="inputItem">
                    <ion-label class="addInput-Label" floating>Employee Code</ion-label>
                    <ion-input class="addInput" [(ngModel)]="f.employee_code" [ngModelOptions]="{standalone:true}" type="number" clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem">
                    <ion-label class="addInput-Label " floating>Date of Birth</ion-label>
                    <ion-datetime class="addInput" [(ngModel)]="f.dob" [ngModelOptions]="{standalone:true}" clearInput displayFormat="MMM DD YYYY" max="{{currentTime}}" type="text"></ion-datetime>
                </ion-item>

                <ion-label class="addInput-Label " floating>Department</ion-label><br>
                <ion-searchbar placeholder="Department" floating (ionInput)="filterDepart($event.target.value)" [(ngModel)]="this.f.department" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of departments" (click)="depart(res)">

                        <p>{{ res.department }}</p>

                    </li>
                </ul>
                <ion-label class="addInput-Label" floating>Designation </ion-label><br>
                <ion-input [(ngModel)]="f.designation_id" [ngModelOptions]="{standalone:true}" type="hidden"></ion-input>
                <ion-searchbar placeholder="Designation" (ionInput)="filterDesig($event.target.value)" [(ngModel)]="this.f.designation" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of designations" (click)="desig(res)">

                        <p>{{ res.designation }}</p>

                    </li>
                </ul>

                <ion-label class="addInput-Label" floating>Shift </ion-label><br>
                <ion-input [(ngModel)]="f.shift_id" [ngModelOptions]="{standalone:true}" type="hidden"></ion-input>
                <ion-searchbar placeholder="Shift" (ionInput)="filterShift($event.target.value)" [(ngModel)]="this.f.shift" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of shifts" (click)="sf(res)">

                        <p>{{ res.shift }}</p>

                    </li>
                </ul>

                <ion-label class="addInput-Label" floating>Employee Category </ion-label><br>
                <ion-input [(ngModel)]="f.employee_category_id" [ngModelOptions]="{standalone:true}" type="hidden"></ion-input>
                <ion-searchbar placeholder="Employee Category" (ionInput)="filterCategory($event.target.value)" [(ngModel)]="this.f.employee_category" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of emp_categories" (click)="cat(res)">

                        <p>{{ res.employee_category }}</p>

                    </li>
                </ul>

                <ion-item class="inputItem">
                    <ion-label class="addInput-Label" floating>Opening Balance </ion-label>
                    <ion-input class="addInput" [(ngModel)]="f.amount" [ngModelOptions]="{standalone:true}" type="text" clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem">
                    <ion-label class="addInput-Label" floating>Admin Notes </ion-label>
                    <ion-input class="addInput" [(ngModel)]="f.narration" [ngModelOptions]="{standalone:true}" type="text" clearInput></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Status</ion-label>
                    <ion-select placeholder="Status" [(ngModel)]="f.emp_status" [ngModelOptions]="{standalone:true}">
                        <ion-option value="active">Active</ion-option>
                        <ion-option value="suspend">Suspend</ion-option>
                        <ion-option value="resign">Resign</ion-option>
                        <ion-option value="terminate">Terminate</ion-option>
                    </ion-select>
                </ion-item>

                <!-- <ion-item class="inputItem ">
        <ion-label class="addInput-Label " floating>Gender</ion-label>
        <ion-input class="addInput " [(ngModel)]="user.gender " type="text "></ion-input>
      </ion-item> -->


                <!-- <ion-item class="inputItem ">
        <ion-label class="addInput-Label " floating>Pincode</ion-label>
        <ion-input class="addInput " [(ngModel)]="user.pincode " type="text "></ion-input>
      </ion-item> -->

            </ion-list>


        </div>
        <div>
            <h4 class="editprofile-title bg-heading ">Communication</h4>
            <div class="inputList ">
                <ion-list class="inputLabel ">
                    <ion-item class="inputItem ">
                        <ion-label class="addInput-Label " floating>Address</ion-label>
                        <ion-input class="addInput " [(ngModel)]="f.address " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                    </ion-item>
                    <ion-item class="inputItem ">
                        <ion-label class="addInput-Label " floating>Phone Number</ion-label>
                        <ion-input class="addInput " [(ngModel)]="f.phone " [ngModelOptions]="{standalone:true} " type="tel " clearInput></ion-input>
                    </ion-item>
                    <ion-item class="inputItem ">
                        <ion-label class="addInput-Label " floating>Mobile</ion-label>
                        <ion-input class="addInput " [(ngModel)]="f.mobile " [ngModelOptions]="{standalone:true} " type="tel " clearInput></ion-input>
                    </ion-item>
                    <ion-item class="inputItem ">
                        <ion-label class="addInput-Label " floating>Email</ion-label>
                        <ion-input class="addInput " type="text " [(ngModel)]="f.email " [ngModelOptions]="{standalone:true} " clearInput pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,} " required></ion-input>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <h4 class="editprofile-title bg-heading ">Bank Informations</h4>
        <div class="inputList ">
            <ion-list class="inputLabel ">
                <ion-label class="addInput-Label" floating>Bank </ion-label><br>
                <ion-input [(ngModel)]="f.bank_id" [ngModelOptions]="{standalone:true}" type="hidden"> </ion-input>
                <ion-searchbar placeholder="Bank" (ionInput)="filterBank($event.target.value)" [(ngModel)]="this.f.bank" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of banks" (click)="ba(res)">

                        <p>{{ res.bank }}</p>

                    </li>
                </ul>

                <ion-label class="addInput-Label" floating>Branch </ion-label><br>
                <ion-input [(ngModel)]="f.bank_branch_id" [ngModelOptions]="{standalone:true}" type="hidden"></ion-input>
                <ion-searchbar placeholder="Branch" (ionInput)="filterBranch($event.target.value)" [(ngModel)]="this.f.bank_branch" [ngModelOptions]="{standalone:true}"></ion-searchbar>
                <ul class="technologies">
                    <li *ngFor="let res of branches" (click)="br(res)">

                        <p>{{ res.branch }}</p>

                    </li>
                </ul>

                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>Back Account Name</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.bankacname " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <!-- <ion-item class="inputItem ">
        <ion-label class="addInput-Label " floating>Gender</ion-label>
        <ion-input class="addInput " [(ngModel)]="user.gender " type="text "></ion-input>
      </ion-item> -->
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>Account Number</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.bankacno " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>IFSC</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.ifsc_code " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>


            </ion-list>

        </div>

        <h4 class="editprofile-title bg-heading ">Compliance Informations</h4>
        <div class="inputList ">
            <ion-list class="inputLabel ">
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>ESI No</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.esino " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>PF No</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.pfno " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>

                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating> PAN No</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.panno " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>Adhar No</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.adharno " [ngModelOptions]="{standalone:true} " type="number " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>Salary</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.salary " [ngModelOptions]="{standalone:true} " type="number " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>Basic</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.basic " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating>OT</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.ot " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
                <ion-item class="inputItem ">
                    <ion-label class="addInput-Label " floating> Compliance Shift</ion-label>
                    <ion-input class="addInput " [(ngModel)]="f.shift_id_compliance " [ngModelOptions]="{standalone:true} " type="text " clearInput></ion-input>
                </ion-item>
            </ion-list>


        </div>
        <h4 class="editprofile-title bg-heading ">Others</h4>
        <div class="inputList ">
            <ion-list class="inputLabel ">
                <ion-item>
                    <ion-label>User</ion-label>
                    <ion-select [(ngModel)]="f.user_id" [ngModelOptions]="{standalone:true}" placeholder="user">
                        <ion-option *ngFor="let user of employees" [value]="user.user_id" (click)="user1(res)">{{user.employee}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Join Date</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="f.joined" [ngModelOptions]="{standalone:true}"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Resign Date</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="f.resign_date" [ngModelOptions]="{standalone:true}"></ion-datetime>
                </ion-item>
            </ion-list>


        </div>
        <button type="submit " color="primary" class="loginButton " #h (click)="submit() " ion-button full>Submit</button>
    </div>
    <!-- <div *ngIf="educationInformation ">
      <h4 class="editprofile-title ">Education Informations</h4>
      <div class="inputList ">
          <form (ngSubmit)="addEducation() " [formGroup]="userForm ">
              <div formArrayName="education ">
                  <div class="profile-form " [formGroupName]="i " *ngFor="let edu of userForm.controls.education.controls; let i=i ndex ">
                      <h4 class="editprofile-title ">{{i+1}}. Information <span class="removeDetail "> <ion-icon ios="ios-trash " (click)="removeEducation(i) " md="md-trash "></ion-icon></span></h4>
              <p>{{educationfrom[i]}}</p> -->
    <!-- <ion-list class="inputLabel ">
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Institution</ion-label>
                              <ion-input class="addInput " (keyup.enter)="moveFocus(i) " formControlName="institution " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Subject</ion-label>
                              <ion-input class="addInput " formControlName="subject " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Starting Year</ion-label>
                              <ion-datetime displayFormat="YYYY " (ionChange)="selectFrom() " formControlName="start_year " type="text "></ion-datetime>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Complete Year</ion-label>
                              <ion-datetime displayFormat="YYYY " min="{{educationfrom[i]}} " formControlName="complete_year " type="text "></ion-datetime>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Degree</ion-label>
                              <ion-input class="addInput " formControlName="degree " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Grade</ion-label>
                              <ion-input class="addInput " formControlName="grade " type="text "></ion-input>
                          </ion-item>
                      </ion-list>
                  </div>
              </div>
          </form>
          <div class="add-more " (click)="addEducation() ">
              <a class="add-more-btn " href="# ">
                  <i class="fa fa-plus "></i> Add More Education</a>
          </div>
          <ion-row>
              <ion-col>
                  <button type="submit " class="backButton " (click)="BasicInformation() " ion-button full>Back</button>
              </ion-col>
              <ion-col>
                  <button type="submit " class="loginButton " [ngStyle]="colorCode " (click)="ExperienceInformation() " ion-button full>Next</button>
              </ion-col>
          </ion-row>
      </div>
  </div> -->
    <!-- <div *ngIf="experienceInformation ">
      <h4 class="editprofile-title ">Experience Informations</h4>
      <div class="inputList ">
          <form (ngSubmit)="addEducation() " [formGroup]="userForm ">
              <div formArrayName="experience ">
                  <div class="profile-form " [formGroupName]="i " *ngFor="let exp of userForm.controls.experience.controls; let i=i ndex ">
                      <h4 class="editprofile-title ">{{i+1}}. Information <span class="removeDetail "> <ion-icon ios="ios-trash " (click)="removeExperience(i) " md="md-trash "></ion-icon></span></h4>
                      <ion-list class="inputLabel ">
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Company Name</ion-label>
                              <ion-input class="addInput " formControlName="company " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Location</ion-label>
                              <ion-input class="addInput " formControlName="location " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Job Position</ion-label>
                              <ion-input class="addInput " formControlName="jop_position " type="text "></ion-input>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Period From</ion-label>
                              <ion-datetime displayFormat="YYYY " (ionChange)="selectFrom1() " formControlName="period_from " type="text "></ion-datetime>
                          </ion-item>
                          <ion-item class="inputItem ">
                              <ion-label class="addInput-Label " floating>Period To</ion-label>
                              <ion-datetime displayFormat="YYYY " min="{{experiencefrom[i]}} " formControlName="period_to " type="text "></ion-datetime>
                          </ion-item>
                      </ion-list>
                  </div>
              </div>
          </form>
          <div class="add-more " (click)="addExperience() ">
              <a class="add-more-btn " href="# ">
                  <i class="fa fa-plus "></i> Add More Experience</a>
          </div>
          <ion-row>
              <ion-col>
                  <button type="submit " class="backButton " (click)="EducationInformation() " ion-button full>Back</button>
              </ion-col>
              <ion-col>
                  <button type="submit " class="loginButton " [ngStyle]="getHeaderStyle() " (click)="submit() " ion-button full>Submit</button>
              </ion-col>
          </ion-row>
      </div>
  </div> -->
</ion-content>