<!--
  Generated template for the DepartmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title [ngStyle]="getHeaderStyle()">
      <h4 class="header-title"> Projects</h4>
    </ion-title>
    <!-- <ion-icon *ngIf="roleId == '1'" ios="ios-add" md="md-add" (click)="addDepartment()" class="notificationIcon"></ion-icon> -->
  </ion-navbar>

</ion-header>


<ion-content no-bounce padding class="background-content">
  <ion-row *ngFor="let pro of projects">
    <ion-col col-12 (click)="openTaks(pro)">
      <div class="dept-widget">
        <!-- <div class="more-icon" >
          <i class="fa fa-ellipsis-v employee-more"></i>
        </div> -->
        <h4 class="dept-name">{{pro.project_title}}</h4>
      </div>
    </ion-col>
  </ion-row>
</ion-content>