<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
        <ion-title [ngStyle]="getHeaderStyle()">
            <h4 class="header-title"> Profile</h4>
        </ion-title>
        <div class="notification-div">
            <ion-icon ios="ios-create-outline" md="md-create" (click)="editProfile(emp)" class="notificationIcon"></ion-icon>
        </div>
    </ion-navbar>
</ion-header>
<ion-content no-bounce class="background-content">
    <div class="scroll">
        <div class="profile-card-div" [ngStyle]="getstyle()">
            <ion-card class="profile-card" [ngStyle]="getstyle()">
                <div class="profile-header">
                    <img *ngIf="profileImage" src="{{profileImage}}" class="profile-pic" (error)="setDefaultPic()">
                </div>
                <div class="profile-header-field">
                    <h2 class="profile-name">{{emp.employee}}</h2>
                    <h2 class="profile-designation">{{emp.designation}}</h2>
                </div>
            </ion-card>
        </div>

        <div>
            <ion-segment [(ngModel)]="profile">
                <ion-segment-button class="profile-segment" value="overview">
                    Overview
                </ion-segment-button>
                <ion-segment-button class="profile-segment" value="education">
                    Education
                </ion-segment-button>
                <ion-segment-button class="profile-segment" value="experience">
                    Experience
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
    <div id="scroll1">
        <div [ngSwitch]="profile">
            <div class="segment-tab" *ngSwitchCase="'overview'">
                <ion-list class="profile-list">
                    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
                        <div class="holiday-card">
                            <h4 class="profile-title">Employee ID</h4>
                            <span class="profile-inner-item">{{emp.id}}</span>
                        </div>
                    </ion-item>
                    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
                        <div class="holiday-card">
                            <h4 class="profile-title">Phone</h4>
                            <span class="profile-inner-item">{{emp.mobile}}</span>
                        </div>
                    </ion-item>
                    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
                        <div class="holiday-card">
                            <h4 class="profile-title">Email</h4>
                            <span class="profile-inner-item">{{emp.email}}</span>
                        </div>
                    </ion-item>
                    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
                        <div class="holiday-card">
                            <h4 class="profile-title">Birthday</h4>
                            <span class="profile-inner-item">{{emp.dob}}</span>
                        </div>
                    </ion-item>
                    <ion-item class="profile-item" style="border-bottom: 1px solid #e7e7e7 !important;">
                        <div class="holiday-card">
                            <h4 class="profile-title">Gender</h4>
                            <span class="profile-inner-item">{{emp.gender}}</span>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-list class="profile-list">
                    <ion-item class="profile-item">
                        <div class="holiday-card">
                            <h4 class="holiday-title">Address</h4>
                            <p class="profile-address"><span *ngIf="emp.address !=''">{{emp.address}},</span> <span *ngIf="emp.city !=''">{{emp.city}},</span><span *ngIf="emp.country !=''">{{emp.country}}.</span></p>
                        </div>
                    </ion-item>
                </ion-list>
                <!-- <div class="profile-skills">
        <p>Skills</p>
        <div class="skills">
          <span class="">IOS</span>
          <span>Android</span>
          <span>Html</span>
          <span>CSS</span>
          <span>Codignitor</span>
          <span>Php</span>
          <span>Javascript</span>
          <span>Wordpress</span>
          <span>Jquery</span>
        </div>
      </div> -->
            </div>

            <div *ngSwitchCase="'education'">
                <div *ngIf="!noEducation">
                    <div class="profile-list" *ngFor="let edu of educationDetails">
                        <div class="profile-education">
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <span class="name"> {{edu.institution}}</span>
                                    <div>{{edu.degree}} {{edu.subject}}</div>
                                    <span class="time">{{edu.start_year}} - {{edu.complete_year}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="noEducation" class="dashboard-area">
                    <h3 class="nolist">No details found</h3>
                </div>
            </div>

            <div *ngSwitchCase="'experience'">
                <div *ngIf="!noExperience">
                    <div class="profile-list" *ngFor="let exp of exprienceInfo">
                        <div class="profile-education">
                            <!-- <div class="experience-user">
            <div class="before-circle"></div>
          </div> -->
                            <div class="experience-content">
                                <div class="timeline-content">
                                    <span class="name">Web Designer at Zen Corporation</span>
                                    <span class="time1">Jan 2013 - Present (5 years 2 months)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="noExperience" class="dashboard-area">
                    <h3 class="nolist">No details found</h3>
                </div>
            </div>
        </div>
    </div>
</ion-content>