<!--
  Generated template for the EmployeesalaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
        <ion-title [ngStyle]="getHeaderStyle()">
            <h4 class="header-title">Timesheet List</h4>
        </ion-title>
        <div class="notification-div">
            <ion-icon *ngIf="roleId == '3'" ios="ios-add" md="md-add" (click)="addTimesheet()" class="notificationIcon"></ion-icon>
        </div>
    </ion-navbar>
</ion-header>

<ion-content no-bounce class="background-content ion-content">


    <div class="!noData" class="background">
        <ion-list class="noti-list" *ngFor="let timesheet of timesheets;let i=index">
            <ion-item-sliding #item>
                <ion-item (click)="openModal(timesheet)">
                    <div>
                        <h4 class="holiday-title" [ngStyle]="{'color':'blue'}">{{i+1.}}</h4>

                        <span class="holiday-days-div">
              <h2 class="holiday-title">{{ timesheet.date }}</h2>
            </span>
                    </div>

                    <div class="holiday-card">
                        <h4 class="timesheet-project"><b>Task:</b> {{ timesheet.project_task }}</h4>
                    </div>
                    <div class="timesheet-hour-div">
                        <h2 class="timesheet-hours">{{timesheet.total_days}} {{ timesheet.total_hours }} {{timesheet.total_mins}} {{timesheet.total_seconds}} </h2>
                    </div>
                </ion-item>
                <ion-item-options *ngIf="timesheet.edit" side="right">
                    <button ion-button color="secondary" (click)="editTimeSheet(timesheet)">
            Edit
          </button>
                    <button ion-button color="danger" (click)="delete(timesheet)">
            Delete
          </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <div *ngIf="noData" class="dashboard-area">
        <h3 class="nolist">No timesheets found</h3>
    </div>


</ion-content>