page-timesheetslist {
    .timesheet-hours {
        border-radius: 4px;
        font-size: 14px !important;
        margin-right: 5px !important;
        color: green;
    }
    .timesheet-hour-div {
        float: right;
    }
    .timesheet-project {
        float: left;
        font-size: 14px !important;
    }
    .timesheet-description-div {
        padding-left: 16px;
        padding-bottom: 10px;
    }
    .timesheet-description-div p {
        color: #333 !important;
        font-size: 14px !important;
        font-weight: bold;
        margin: 0px !important;
    }
    .timesheet-description {
        padding-right: 16px;
        font-size: 14px !important;
        color: #777 !important;
        white-space: normal;
        margin: 0px !important;
        line-height: 1.4;
    }
    .timeline_date {
        font-size: 14px !important;
        text-align: right;
        padding-right: 10px;
        color: #8e8e93 !important;
    }
    .scroll-content {
        background-color: antiquewhite;
    }
}