<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
      
        </button>
        <ion-title [ngStyle]="getHeaderStyle()">
            {{name}}
        </ion-title>
        <div *ngIf="roleId != '1'" class="notification-div">
            <ion-icon ios="ios-more" md="md-more" (click)="presentPopover($event)" class="notificationIcon"></ion-icon>
        </div>
    </ion-navbar>
</ion-header>
<ion-content no-bounce class="background-content">
    <div class="profile-card-div" [ngStyle]="getstyle()">
        <ion-card class="home-card" [ngStyle]="getstyle()">
            <div class="home-header">
                <img src="{{fullWhiteLogo}}" class="whiteLogo slide-in" />
            </div>
        </ion-card>
    </div>
    <div class="home-data-card">
        <div class="dashboard-area">
            <ion-row class="dashboard-row">
                <ion-col col-6 class="dashboard-col" [ngClass]="cssClass" (click)="openProject()">
                    <div class="dash-widget" #myElement>
                        <div class="dash-widget-icon">
                            <i [ngStyle]="getFontstyle()" class="fa fa-cubes"></i>
                        </div>
                        <div class="dash-widget-info">
                            <h4 class="dash-amount">112</h4>
                            <p class="dash-text">Projects</p>
                        </div>
                    </div>
                </ion-col>

                <ion-col col-6 [ngClass]="cssClass" class="dashboard-col">
                    <div class="dash-widget">
                        <div class="dash-widget-icon">
                            <i [ngStyle]="getFontstyle()" class="fa fa-usd"></i>
                        </div>
                        <div class="dash-widget-info">
                            <h4 class="dash-amount">48</h4>
                            <p class="dash-text">Clients</p>
                        </div>
                    </div>
                </ion-col>

                <ion-col col-6 [ngClass]="cssClass" class="dashboard-col" (click)="openEmployee()">
                    <div class="dash-widget">
                        <div class="dash-widget-icon">
                            <i [ngStyle]="getFontstyle()" class="fa fa-user"></i>
                        </div>
                        <div class="dash-widget-info">
                            <h4 class="dash-amount">{{employees_count}}</h4>
                            <p class="dash-text">Employees</p>
                        </div>
                    </div>
                </ion-col>


                <ion-col *ngIf="roleId != '3'" col-6 [ngClass]="cssClass" class="dashboard-col" (click)="openInvoices()">
                    <div class="dash-widget">
                        <div class="dash-widget-icon">
                            <i [ngStyle]="getFontstyle()" class="fa fa-user"></i>
                        </div>
                        <div class="dash-widget-info">
                            <h4 class="dash-amount">60</h4>
                            <p class="dash-text">Invoices</p>
                        </div>
                    </div>
                </ion-col>

            </ion-row>
        </div>
    </div>
</ion-content>