page-home {
  .progress {
    margin-top: 10%;
  }
  .card-icon {
    border-radius: 50%;
    color: #2e9ef1;
    font-size: 30px;
    height: 50px;
    margin-top: 25px !important;
    margin: 0 auto;
    line-height: 48px;
    text-align: center;
    width: 50px;
  }
}