page-invoicesetings {
    .block-title{
        text-transform: uppercase;
        color: #6d6d72;
        margin: 20px 0px;
        line-height: 17px;
        font-size: 16px;
        font-weight: 800;
        float: left;
    }
   .inputItem{
    border-bottom: 1px solid #efefef !important;
   }
   .inv-img{
       float: right;
   }
}