<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="menuIcon"></ion-icon>
      </button>
      <ion-title [ngStyle]="getHeaderStyle()">
        <h4 class="header-title">Edit Client</h4>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content no-bounce padding>

    <div *ngIf="basicInformation">
        <h4 class="editprofile-title">Basic Informations</h4>
      <div class="inputList">
        <ion-list class="inputLabel">
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Company name</ion-label>
            <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" value="{{clientdata.company_name}}" [(ngModel)]="client.company_name"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Company Email</ion-label>
            <ion-input class="addInput" #b (ion-change)="isValid('username')" value="{{clientdata.company_email}}" [(ngModel)]="client.company_email" (keyup.enter)="moveFocus(c)"
              type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>VAT</ion-label>
            <ion-input class="addInput" #c (ion-change)="isValid('phone')" value="{{clientdata.VAT}}" maxlength="15" [(ngModel)]="client.VAT"
              (keyup.enter)="moveFocus(d)" type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Notes</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.notes}}" [(ngModel)]="client.notes"
              type="text"></ion-input>
          </ion-item>
        </ion-list>
        <button type="submit" [ngStyle]="colorCode" class="loginButton" #h (click)="contact()" ion-button
          full>Next</button>
      </div>
    </div>
    <div *ngIf="contactInformation">
      <h4 class="editprofile-title">Contact Informations</h4>
      <div class="inputList">
        <ion-list class="inputLabel">
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Company Phone</ion-label>
            <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" value="{{clientdata.company_phone}}" [(ngModel)]="client.company_phone"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Company Mobile</ion-label>
            <ion-input class="addInput" #b (ion-change)="isValid('username')" value="{{clientdata.company_mobile}}" [(ngModel)]="client.company_mobile"
              (keyup.enter)="moveFocus(c)" type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>FAX</ion-label>
            <ion-input class="addInput" #c (ion-change)="isValid('phone')" maxlength="15" value="{{clientdata.company_fax}}" [(ngModel)]="client.company_fax"
              (keyup.enter)="moveFocus(d)" type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Address</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.company_address}}" [(ngModel)]="client.company_address"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>City</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.city}}" [(ngModel)]="client.city"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Zip code</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.zip}}" [(ngModel)]="client.zip"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>State</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.state}}" [(ngModel)]="client.state"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Country</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.country}}" [(ngModel)]="client.country"
              type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <button type="submit" class="backButton" (click)="basic()" ion-button full>Back</button>
          </ion-col>
          <ion-col>
            <button type="submit" class="loginButton" [ngStyle]="colorCode" (click)="web()" ion-button
              full>Next</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="webInformation">
      <h4 class="editprofile-title">Web Informations</h4>
      <div class="inputList">
        <ion-list class="inputLabel">
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Website</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.company_website}}" [(ngModel)]="client.company_website"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>LinkedIn</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.linkedin}}" [(ngModel)]="client.linkedin"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Skype</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')"  value="{{clientdata.skype}}"  [(ngModel)]="client.skype"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Facebook</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')"  value="{{clientdata.facebook}}" [(ngModel)]="client.facebook"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Twitter</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.twitter}}" [(ngModel)]="client.twitter"
              type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <button type="submit" class="backButton" (click)="contactback()" ion-button full>Back</button>
          </ion-col>
          <ion-col>
            <button type="submit" class="loginButton" [ngStyle]="colorCode" (click)="bank()" ion-button
              full>Next</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="bankInformation">
      <h4 class="editprofile-title">Bank Informations</h4>
      <div class="inputList">
        <ion-list class="inputLabel">
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Bank</ion-label>
            <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" value="{{clientdata.bank}}" [(ngModel)]="client.bank"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>SWIFT/BIC</ion-label>
            <ion-input class="addInput" #b (ion-change)="isValid('username')" value="{{clientdata.bic}}" [(ngModel)]="client.bic" (keyup.enter)="moveFocus(c)"
              type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Sort Code </ion-label>
            <ion-input class="addInput" #c (ion-change)="isValid('phone')" maxlength="15" value="{{clientdata.sortcode}}" [(ngModel)]="client.sortcode"
              (keyup.enter)="moveFocus(d)" type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Account Holder</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.account_holder}}" [(ngModel)]="client.account_holder"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Account</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.account}}" [(ngModel)]="client.account"
              type="text"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>IBAN</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.iban}}" [(ngModel)]="client.iban"
              type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <button type="submit" class="backButton" (click)="webback()" ion-button full>Back</button>
          </ion-col>
          <ion-col>
            <button type="submit" class="loginButton" [ngStyle]="colorCode" (click)="host()" ion-button
              full>Next</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngIf="hostInformation">
      <h4 class="editprofile-title">Host Informations</h4>
      <div class="inputList">
        <ion-list class="inputLabel">
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Hosting Company</ion-label>
            <ion-input class="addInput" (keyup.enter)="moveFocus(b)" type="text" value="{{clientdata.hosting_company}}" [(ngModel)]="client.hosting_company"></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Hosting</ion-label>
            <ion-input class="addInput" #b (ion-change)="isValid('username')" value="{{clientdata.hostname}}" [(ngModel)]="client.hostname" (keyup.enter)="moveFocus(c)"
              type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Account Username</ion-label>
            <ion-input class="addInput" #c (ion-change)="isValid('phone')" maxlength="15" value="{{clientdata.account_username}}" [(ngModel)]="client.account_username"
              (keyup.enter)="moveFocus(d)" type="text" required></ion-input>
          </ion-item>
          <ion-item class="inputItem">
            <ion-label class="addInput-Label" floating>Port</ion-label>
            <ion-input class="addInput" #e (keyup.enter)="moveFocus(f)" (ion-change)="isValid('text')" value="{{clientdata.port}}" [(ngModel)]="client.port"
              type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <button type="submit" class="backButton" (click)="bankback()" ion-button full>Back</button>
          </ion-col>
          <ion-col>
            <button type="submit" class="loginButton" [ngStyle]="colorCode" (click)="submit()" ion-button
              full>Submit</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-content>