<!--
  Generated template for the AttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
    <ion-title [ngStyle]="getHeaderStyle()">
      <h4 class="header-title">Attendance</h4>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="background-content" padding="">
  <h4 class="attendance-date">{{date | date : 'd MMM y'}}</h4>
  <h3 class="attendance-day">{{date | date : 'EEEE'}}</h3>
  <ion-row class="time-row">
    <ion-col col-6 class="attendance-time">
      <h4 *ngIf="punchin" class="attendance-date">{{punchinData}}</h4>
      <h4 *ngIf="!punchin" class="attendance-date">-</h4>
      <h3 class="attendance-day">Punch In</h3>
    </ion-col>
    <ion-col col-6 class="attendance-time">
      <h4 *ngIf="punchout" class="attendance-date">{{punchOutData}}</h4>
      <h4 *ngIf="!punchout" class="attendance-date">-</h4>
      <h3 class="attendance-day">Punch Out</h3>
    </ion-col>
  </ion-row>
  <h4 class="attendance-hours">Total Hours:
    <span *ngIf="punchout" class="attendance-hours-span">0.1 Hours</span>
    <span *ngIf="!punchout" class="attendance-hours-span">-</span>
  </h4>
  <button *ngIf="!punchin" type="submit" [ngStyle]="getHeaderStyle()" (click)="punchIn()" class="loginButton"
    ion-button full>Punch
    In</button>
  <button *ngIf="punchin" type="submit" [ngStyle]="getHeaderStyle()" (click)="punchOut()" class="loginButton"
    ion-button full>Punch
    Out</button>
</ion-content>