<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu" class="menuIcon"></ion-icon>
    </button>
        <ion-title [ngStyle]="getHeaderStyle()">
            <h4 class="header-title">Create Task</h4>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
    <form>
        <ion-list class="inputLabel">
            <ion-item class="inputItem">
                <ion-label class="addInput-Label" floating>Task Title</ion-label>
                <ion-input class="addInput" #b (keyup.enter)="moveFocus(c)" type="text" [ngModelOptions]="{standalone:true}" [(ngModel)]="f.project_task" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-searchbar type="text" placeholder="Employee" [(ngModel)]="f.employee" [ngModelOptions]="{standalone:true}" (ionChange)="setFilteredItems()"></ion-searchbar>
                <!-- <ion-input [(ngModel)]="f.employee_id" [ngModelOptions]="{standalone:true}" type="hidden"></ion-input> -->
                <ion-list>
                    <ion-item *ngFor="let emp of employees" (click)="selectValue(emp.employee,emp.id)">
                        {{ emp.employee }}
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item class="inputItem item-leave-height">
                <ion-label>Start Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" min="{{currentTime}}" max="{{year+5}}" [(ngModel)]="f.task_date" [ngModelOptions]="{standalone:true}"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="start" class="inputItem item-leave-height">
                <ion-label>Due Date</ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" min="{{proDateFrom}}" [(ngModel)]="f.task_date" [ngModelOptions]="{standalone:true}" max="{{year+5}}"></ion-datetime>
            </ion-item>
            <ion-item class="inputItem">
                <ion-label class="addInput-Label" floating>Estimate Hours</ion-label>
                <ion-input class="addInput" (keyup.enter)="moveFocus()" type="text" [(ngModel)]="f.due_date" [ngModelOptions]="{standalone:true}" required></ion-input>
            </ion-item>
            <ion-item class="inputItem">
                <ion-label class="addInput-Label" floating>Description</ion-label>
                <ion-input class="addInput" (keyup.enter)="moveFocus()" type="text" [(ngModel)]="f.narration" [ngModelOptions]="{standalone:true}" required></ion-input>
            </ion-item>
            <ion-item class="inputItem item-leave-height">
                <ion-label class="addInput-Label" stacked>Visible to client</ion-label>
                <ion-toggle [(ngModel)]="f.visible_client" (ionChange)="f.visible_client" [ngModelOptions]="{standalone:true}"></ion-toggle>
            </ion-item>
        </ion-list>
        <button type="submit" [ngStyle]="getHeaderStyle()" class="loginButton" (click)="send()" ion-button full>Create Task</button>
    </form>
</ion-content>