page-forgotpassword {
    .forgotPasswordText{
        font-size: 16px;
        font-weight: 400;
        color: black;  
        font-family: 'lato-Regular';
    }
    .forgotPasswordBack{
        text-align: center;
        font-size: 16px;
        font-family: 'lato-Regular';
    }
    .text-input {
        margin: 0px !important;
      }
}
