page-tasks {
    .task-label {
        margin: 0px !important;
    }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        background-color: #44bbec;
        color: #fff !important;
    }
}

app-checkbox-wrapper.custom-checkbox {
    background: #CCC;
    color: #000;
    &.checkbox-checked {
        background: #00AFFF;
        color: #FFF;
    }
}

.highlight {
    background-color: lightgreen !important;
}