page-task-details {
    .label-md {
        margin: 0px !important;
    }
    .holiday-card {
        margin: 13px 8px 13px 0;
    }
    .profile-title {
        font-size: 14px !important;
    }
    .profile-inner-item {
        font-size: 14px !important;
    }
    .barWrapper {
        margin-bottom: 10px;
    }
    .nolist {
        margin-top: 0% !important;
    }
    .inputItem {
        padding: 5px !important;
    }
}

.hide {
    display: none;
}